@tailwind base;
@tailwind components;
@tailwind utilities;


ol {
    list-style: inherit;
    margin: revert;
    padding: revert;
}


.mytestbtn {
    @apply flex w-32 items-center justify-center rounded-lg bg-blue-500 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700
}


.sherry_btn {
    @apply flex w-32 items-center justify-center rounded-lg bg-red-500 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700
}


.note_btn{
    color: darkcyan;
}
.note_link{
    color: chocolate;
}

.success-message {
    padding: 15px 25px;
    background-color: rgb(0, 165, 44);
    color: white;
    border-radius: 4px;
    margin-bottom: 30px;;
}
